Levenshtein_search.egg-info/top_level.txt
Levenshtein_search.egg-info/SOURCES.txt
pcfile_test4.py
dist/Levenshtein_search-1.3-py2.7-linux-x86_64.egg
*.so
build/temp.linux-x86_64-2.7/Lev_search.o
Levenshtein_search.egg-info/dependency_links.txt